.Projects {
    text-align: justify;


}

.Projects h1 {
    width: 264px;
    height: 96px;
    top: 896px;
    left: 192px;

    font-size: 50px;
    font-weight: 600;
    line-height: 96px;
    letter-spacing: 0em;

}